
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Weather</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="active">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  (click)="getdisplaydata()" routerLink="/AddFavourites" routerLinkActive="active">Display Favourites</a>
        </li>
      </ul>
    </div>
  </nav>

<article class="card animated fadeInLeft  secondcard">
 <img class="card-img-top img-responsive" src="../assets/coast.jpg" alt="Deer in nature" />
 <div class="card-block">
  <h4 class="card-title">Weather</h4>
  <h6 class="text-muted">WA weather:More rain, hail on the way as cold fronts hover off coast</h6>
  <p class="card-text">There's no end in sight to the wet weather for Western Australia with more cold fronts expected to bring heavy rain and possible hail over the next few days.A front dumped 47.2 millimetres of rain on Perth yesterday and overnight, with more rain and strong winds on the way.</p>
  
 </div>
</article>
