<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Weather</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="jumbotron jumbotron-fluid">
<div class="container">
<h1>My Jumbotron</h1>
<p>Think BIG with a Bootstrap Jumbotron!</p>
</div>
</div> -->

<article class="card animated fadeInLeft">
 <img class="card-img-top img-responsive" src="../assets/map.jpg" alt="Deer in nature" />
 <div class="card-block">
  <h4 class="card-title">Weather</h4>
  <h6 class="text-muted">Yes, You Can Blame Climate Change for Extreme Weather</h6>
  <p class="card-text">The report notes that every extreme weather event analyzed to date would be theoretically possible without climate change, even if many would be incredibly unlikely. That's not the case with the record high global temperature averages the world has experienced in recent years.</p>
  
 </div>
</article>
