 <html>
 <head>
 </head>
 <body>
   <app-weather-update *ngIf="update" [favupdate]="update"></app-weather-update>
   <table class="table table-responsive table-sm table-bordered Fav" *ngFor="let fav of Display">
    <thead>
      <tr >
        <th>Cityname</th>
        <th>Date</th>
        <th>Max.Temperature</th>
        <th>Min.Temperature</th>
        <th>Humidity</th>
        <th>Description</th>
        <th>Remove</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{fav.city}}</td>
        <td>{{fav.date}}</td>
        <td>{{fav.max_temp}}</td>
        <td>{{fav.min_temp}}</td>
        <td>{{fav.humidity}}</td>
        <td>{{fav.Description}}</td>
        <td><button class="btn btn-success" (click)=updateweather(fav)>Update</button></td>
        <td><button class="btn btn-danger" (click)=deletefavourites(fav)>Delete</button>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-danger" routerLink="/header">GoBack</button>
  </body>
  </html>



<!-- 
  <div class="container-fluid">
    <div class="row-fluid" >
     <div class="col-md-offset-4 col-md-4" id="box">
      <h2>Login</h2>
      <hr>
      <form class="form-horizontal" action=" " method="" id="contact_form">
        <fieldset>
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="first_name" placeholder="Username" class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input name="email" placeholder="Password" class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-md btn-danger pull-right">Login </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div> 
  </div>
-->

<!--  <html>
 <head>
 </head>
 <body>
  <br>
  <div>
    <ul *ngFor="let fav of Display">
   <li><h5> Cityname :{{fav.city}}</h5></li>
   <li><h5> Date : {{fav.date}}</h5></li>
   <li><h5> Max. Temperature : {{fav.max_temp}}</h5></li>
    <li><h5> Min.Temperature :{{fav.min_temp}}</h5></li>
   <li> <h5> Humidity: {{fav.humidity}}</h5></li>
    <li><h5> Description :{{fav.Description}}</h5></li> 
    <button class="btn btn-primary"> Delete</button>
    <button class="btn btn-primary"> Update</button>
   </ul>
  </div>
  </body>
  </html> -->
